<h1><%= @artist.name %></h1>
<h2>Website: <%= link_to  @artist.artist_site %></h2>
<h2>Discography<%=@artist.discography %></h2>
<h2>Artist Bio:</h2>
  <p><%=@artist.biography %></p>


<p><%= link_to "Return to artists", artists_path %></p>
