<div class="row">
  <!-- <div class="card"> -->
    <div class="card-header">
      <div class="col s12 m6">
      <h2><%= @artist.name %></h1>
    </div>
      <div class="card medium">
        <h2>Website:</h2>
        <p><a href="<%= @artist.artist_site %>"><%= @artist.artist_site %></a></p>
        <br>
        <h2>Discography:</h2>
        <p><%=@artist.discography %></p>
        <br>
        <h2>Artist Bio:</h2>
          <p><%=@artist.biography %></p>
      </div>
      <div class="card-footer">
        <p><%= link_to "Home", artists_path %></p>
      </div>
    </div>
  <!-- </div> -->
</div>
