<!DOCTYPE html>
<html>
  <head>
    <title>JazzMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Permanent+Marker|Poiret+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <nav>
        <div class="nav-wrapper" >
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to 'Home', artists_path %></li>
            <li><%= link_to 'Sign-Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign-In', new_user_session_path %></li>
          </ul>
        </div>
      </nav>
      <h1 id="header">Jazz Map</h1>
      <h2>A Guide to</h2>
      <h2>21st Century Jazz</h2>
    </div>
    <%= yield %>
  </body>
</html>
